# ignore aprs-desktop-app/frontend files
aprs-desktop-app/node_modules
aprs-desktop-app/.pnp
aprs-desktop-app/.pnp.js
aprs-desktop-app/coverage
aprs-desktop-app/build
aprs-desktop-app/.DS_Store
aprs-desktop-app/.env.local
aprs-desktop-app/.env.development.local
aprs-desktop-app/.env.test.local
aprs-desktop-app/.env.production.local
aprs-desktop-app/npm-debug.log*
aprs-desktop-app/yarn-debug.log*
aprs-desktop-app/yarn-error.log*
aprs-desktop-app/static
aprs-desktop-app/coordinates.txt

#ignore aprs-desktop-app/backend files
aprs-desktop-app/backend/env
aprs-desktop-app/backend/__pycache__
aprs-desktop-app/backend/build
aprs-desktop-app/backend/aprsServer.spec
aprs-desktop-app/backend/dist

#ignore .vscode
aprs-dekstop-app/.vscode
.vscode

#ignore api key
.env

aprs-aerial-server/env
aprs-aerial-server/build
aprs-aerial-server/dist
aprs-aerial-server/__pycache__
aprs-aerial-server/aprsAerialServer.spec
