.currentLocationCenter
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 25px 0px;
}

#currentLocationFirst
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#currentLocationBtn
{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    background-color: #65737E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentLocationBtn:hover{background-color: #808e99;}

#currentLocationBtn h6{margin: 0;color: #21262c;}

#currentLocationDivider
{
    margin: 0px 25px 0px 25px;
}

#currentLocationForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

#latInput
{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin: 0px 0px 15px 0px;
    padding: 0px 5px 0px 5px;
    background-color:  #c8cdd0;
}

#lngInput
{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    background-color:  #c8cdd0;
}

#manualLocationSubmit
{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    background-color: #65737E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 0px 0px;
}

#manualLocationSubmit:hover{background-color: #808e99;}

#manualLocationSubmit h6{margin: 0;color: #21262c;}

.locationTableCenter
{
    width: 100%;
    height: auto;
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.locationTable
{
    width: 100%;
    height: auto;
    max-width: 600px;
    text-align: center;
}

.locationTable thead
{
    border-bottom: 2px solid #c8cdd0;
}

.locationTable thead th
{
    margin: 5px;
    border: 2px solid #c8cdd0;
}

.locationTable tbody tr td
{
    border: 2px solid #c8cdd0;
}

.locationTable ul li
{
    margin: 0px 0px 15px 0px;
}

.firstCol
{
    width: 15%;
    padding: 10px;
}

.otherCol
{
    width: 42.5%;
}