#centerTable
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#statusColorTable
{
    border: 2px solid #c8cdd0;
    width: 75%;
    max-width: 600px;
    text-align: center;
    margin: 15px 0px 15px 0px; 
}

#statusColorTable thead
{
    border-bottom: 2px solid #c8cdd0;
}

#statusColorTable thead th
{
    margin: 5px;
    border: 2px solid #c8cdd0;
}

#statusColorTable tbody tr td
{
    border: 2px solid #c8cdd0;
}

#statusColorTable ul li
{
    margin: 0px 0px 15px 0px;
}