.aerialLaunchBtnContainer
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 25px 0px;
}

.aerialLaunchBtn
{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    background-color: #65737E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 25px 0px;
}

.flightTimer
{
    margin: 0px 0px 25px 0px;
}

.aerialLaunchBtn:hover{background-color: #808e99;}

.aerialLaunchBtn h6{margin: 0;color: #21262c;}

.aerialLaunchProgress
{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 0px 15px 0px;
}

.aerialLaunchProgress::-webkit-progress-bar
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#444e55;
}

.aerialLaunchProgress[value]::-webkit-progress-value
{
    background-color: #38787a;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    transition: width 1s ease-out;
}