#sidebarBox
{
    max-width: 400px;
    padding: 15px;
    overflow: hidden;
    background-color: #4F5B66;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

#logoBox
{
    flex: 0 0 auto;
    width: 200px;
    height: 75px;
    background-color: #343D46;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 25px 0px;
}

#stepsBox
{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #343D46;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    padding: 10px 0px 0px 0px;
}

#progressBox
{
    flex: 0 0 auto;
    width: 250px;
    height: 100px;
    padding: 5px 15px 5px 15px;
    margin: 25px 0px 0px 0px;
    background-color: #343D46;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    color: #d2d6dc;
}

#progressBox p
{
    padding: 0;
    margin: 0;
    font-size: small;
}

#stepsBox:hover::-webkit-scrollbar-thumb
{
    background-color: #939da4;
}

#stepsBox::-webkit-scrollbar
{
    width: 6px;
}
 
/* Track */
#stepsBox::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
#stepsBox::-webkit-scrollbar-thumb
{
    background: #5d686f; 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#stepsBox::-webkit-scrollbar-thumb:hover
{
    background: #a2abb1;
}

#stepsBox::-webkit-scrollbar-thumb:active
{
    background: #b2b9be
}


#progressBox:hover::-webkit-scrollbar-thumb
{
    background-color: #939da4;
}

#progressBox::-webkit-scrollbar
{
    width: 6px;
}
 
/* Track */
#progressBox::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
#progressBox::-webkit-scrollbar-thumb
{
    background: #5d686f; 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#progressBox::-webkit-scrollbar-thumb:hover
{
    background: #a2abb1;
}

#progressBox::-webkit-scrollbar-thumb:active
{
    background: #b2b9be
}